@model MVC_R47.Models.Numbers
@{
    ViewBag.Title = "Page7";
    Layout = "~/Views/Shared/_MyLayoutPage.cshtml";
}

<h2>Page7</h2>
<h3>@ViewBag.ot</h3>
<p>Output is: @Html.DisplayFor(model => model.OutputNumber)</p>
