
@{
    ViewBag.Title = "Page1";
    Layout = "~/Views/Shared/_MyLayoutPage.cshtml";
}
@section _PartialPage1{
    <h1 style="background-color:#0c0">Home>Page1</h1>
}
@section section2{
    <hr /><h2 style="background-color:skyblue">This is Section2</h2>
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
<p>This is Page1</p>

